/* Reset básico */
* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

/* _____________________________________________________ */
/* Slider */

.slider {
    width: 80%;
    height: 450px;
    overflow: hidden;
    position: relative;
    margin: auto;
    margin-top: 50px;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide.active {
    opacity: 1;
}

.slide:nth-child(1) {
    animation: fade 6s infinite;
}
.slide:nth-child(2) {
    animation: fade 6s infinite 2s;
}
.slide:nth-child(3) {
    animation: fade 6s infinite 4s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}